body{
  /*background: url(../img/background_3.jpg) repeat;*/
  font-family: "Helvetica Neue",Arial,"HeitiTC","LiHei Pro","微軟正黑體","Microsoft Jhenghei",sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

footer{
  height: 100px;
  background: url(../img/footer.jpg) repeat;
  position: relative;
  top: 30px;
  padding-left: 60px;
  background-color: #336600;
}

footer li{
  font-size: 18px;
  display: inline;
  list-style: none;
  position: relative;
  top: 50px;
  margin-left: 10px;
  padding: 10px;
}

footer a:hover{
  color: #FF6;
}

header{
  background-color: #336600;
  height: 90px;
  padding: 0 100px 0 100px;
  margin-bottom: 20px; 
  background: url(../img/banner.png) repeat;
}

header a:hover{
  color: #FF6;
}

nav{
  display: inline-block;
  float: right;
  margin-top: 20px;
}

.logo{
  height: 80px;
  margin: 5px 0 5px 0;
  position: relative;
  float: left;
}

.main_nav{
  position: relative;
  display: inline-block;
}

.main_nav_li{
  font-size: 18px;
  display: inline-block;
  list-style: none;
  position: relative;
  margin-left: 8px;
}

.main_nav_li > a{
  padding: 3px 8px;
}

.member{
  margin-left: 12px;
  padding-left: 14px;
  border-left: 1px #fff solid;
  display: inline;
}

.member-btn{
  font-size: 18px;
  background-color: #FF6;
  color: #360;
  border-radius: 0.3em;
  border: solid 2px #FF6;
  margin-left: 8px;
}

.member-btn:hover{
  color: #FF6;
  background-color: #360;
}

.sub{
  display: none;
  left: 0;
  margin: 1px 0 0;
  overflow: hidden;
  position: absolute;
  width: 160px;
  z-index: 6666;
  border-radius: 0.3em;
  box-shadow: rgb(155,155,155) 0px 1px 3px 0px;
}

.sub ul{
  margin: 0;
  list-style: none;
  position: relative;
  border: 5px solid #fff;
  background: #fff;
  width: 150px;
  padding: 0px;
}

.sub li {
  float: none;
  margin: 0 0 1px;
}

.main_nav li:hover .sub{
  display: block;
}

.sub a{
  color: #5C5C5C;
  display: block;
  font-size: 14px;
  height: 25px;
  letter-spacing: 1px;
  overflow: hidden;
  margin: 0 0 0 10px;
  padding: 4px 0 0 10px;
  cursor: pointer;
  outline: 0;
}

.sub li:hover{
  background:#336600;
}

.sub li:hover a{
  color:white;
}

section{
  /*background-color: white;*/
  background:url(../img/background_inner.jpg);
  width: 950px;
  height: auto;
  position: relative;
  /*left:50%;*/
  top: 10px;
  margin: 0px auto;
  /*margin-left:-480px;*/
  box-shadow: rgb(155,155,155) 0px 1px 10px 0px;
  border-radius: 2em;
}

.title a{
	font-size:24px;
	color:black;
	margin-left:6px;
}

.title{
	margin-left:30px;
	border-bottom:1px solid;
	border-bottom-color: #000;
	width:890px;
}

.tabs{
  position: relative;
/*left:50%;
  top:50%;
  margin-top:-600px;
	margin-left:-450px;*/
  width:900px;
  height:1250px;
}

.tab{
    float:left;
}

.tab > input[type=radio]{
  display:none;
	border:2px solid #FFF;
	border-radius:20px;
}

.tab > label{
border:2px solid rgb(120,120,120);
	border-radius:20px 20px 0 0;
    display:block;
    position:relative;
    width:147px;
    height:20px;
    margin-right:-1px;
    padding:5px 15px;
    background:rgb(120,120,120);
}

.tab > label a{
	color:black;
}

.tab > .content{
    display:none;
    position:absolute;
    top:30px;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    padding:10px;
    background:#FFF;
}

.tab > input[type=radio]:checked + label{
    background:#FFF;
	border:2px solid #FFF;
	border-radius:20px 20px 0 0;
    border-bottom:1px solid transparent;
    z-index:2;
}

.tab > input[type=radio]:checked ~ .content{
    display:block;    
}

.about{
	margin-left: 15px;
	margin-top: 20px;
	margin-right: 10px;
	margin-right:0px;
	display: inline-block;
	height: 180px;
	width: 30%;
	background-color: rgba(192,192,192,0.7);
	border-radius: 40px;
}



.about img{
  width: 100px;
  margin-left: normal;
  margin-top: 50px;
  position: relative;
  left: 35px;
  border-radius: 50%;
}
.about p{
	text-align: center;
	position:relative;
	left:60px;
	top:-100px;
	color:black;
}

.name{
	font-size:24px;
}