body{
	/*background: url(../img/background_3.jpg) repeat;*/
	font-family: "Helvetica Neue",Arial,"HeitiTC","LiHei Pro","微軟正黑體","Microsoft Jhenghei",sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
	color: white;
}

footer{
	height: 100px;
	background: url(../img/footer.jpg) repeat;
	position: relative;
	top: 30px;
	padding-left: 60px;
	background-color: #336600;
}

footer li{
	font-size: 18px;
	display: inline;
	list-style: none;
	position: relative;
	top: 50px;
	margin-left: 10px;
	padding: 10px;
}

footer a:hover{
	color: #FF6;
}

header{
	background-color: #336600;
	height: 90px;
	padding: 0 100px 0 100px;
	background: url(../img/banner.png) repeat;
	margin-bottom: 20px;
}

header a:hover{
	color: #FF6;
}

nav{
	display: inline-block;
	float: right;
	margin-top: 20px;
}

.logo{
	height: 80px;
	margin: 5px 0 5px 0;
	position: relative;
	float: left;
}

.main_nav{
	position: relative;
	display: inline-block;
}

.main_nav_li{
	font-size: 18px;
	display: inline-block;
	list-style: none;
	position: relative;
	margin-left: 8px;
}

.main_nav_li > a{
	padding: 3px 8px;
}

.member{
	margin-left: 12px;
	padding-left: 14px;
	border-left: 1px #fff solid;
	display: inline;
}

.member-btn{
	font-size: 18px;
	background-color: #FF6;
	color: #360;
	border-radius: 0.3em;
	border: solid 2px #FF6;
	margin-left: 8px;
}

.member-btn:hover{
	color: #FF6;
	background-color: #360;
}

.sub{
	display: none;
	left: 0;
	margin: 1px 0 0;
	overflow: hidden;
	position: absolute;
	width: 160px;
	z-index: 6666;
	border-radius: 0.3em;
	box-shadow: rgb(155,155,155) 0px 1px 3px 0px;
}

.sub ul{
	margin: 0;
	list-style: none;
	position: relative;
	border: 5px solid #fff;
	background: #fff;
	width: 150px;
	padding: 0px;
}

.sub li {
	float: none;
	margin: 0 0 1px;
}

.main_nav li:hover .sub{
	display: block;
}

.sub a{
	color: #5C5C5C;
	display: block;
	font-size: 14px;
	height: 25px;
	letter-spacing: 1px;
	overflow: hidden;
	margin: 0 0 0 10px;
	padding: 4px 0 0 10px;
	cursor: pointer;
	outline: 0;
}

.sub li:hover{
	background:#336600;
}

.sub li:hover a{
	color:white;
}

section{
	/*background-color: white;*/
	background:url(../img/background_inner.jpg) repeat-y;
	width: 950px;
	height: auto;
	position: relative;
	/*left:50%;*/
	top: 10px;
	margin: 0px auto;
	/*margin-left:-480px;*/
	box-shadow: rgb(155,155,155) 0px 1px 10px 0px;
	border-radius: 2em;
}

.content{
	display: inline-block;
	width: 950px;
	background-repeat: repeat-y;
	border-radius: 2em;
}

.banner{
	background: url(../img/farmer_main.JPG) repeat;
	height: 300px;
	border-radius: 2em 2em 0 0;
}

.slogan{
	display: inline;
	position: relative;
	font-size: 36px;
	background: rgba(195,216,37,0.5);
	color: white;
	padding: 7px;
	padding-left: 50px;
	margin: 200px 0 0 0;
	float: left;
}

#farm-name{
	display: inline;
	margin-right: 1em;
}

#farmer-name{
	display: inline;
	margin-right: 20px;
}

.main_pic{
  width: 950px;
  position: relative;
  margin: 0px 0px 0px 0px;
  overflow: auto;
}

.farmer_main{
	width: 950px;
	position: relative;
	margin: 0px 0px 0px 0px;
	overflow: auto;
}

.farmer_head{
	width: 200px;
	position: relative;
	float: right;
	margin: 50px 30px 0px 20px;
	border-radius: 50%;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 10px;
}

.farmer_note{
	position:absolute;
	margin: -150px 0px 0px 0px;
	font-size:36px;
	background:rgba(62,162,101,0.5);
	color:white;
	padding:30px;
}

.content li{
	width: 870px;
	position: relative;
	list-style:none;
	border-bottom:1px solid;
	border-bottom-color: #000;
	padding-bottom:3px;
	margin-top:10px;
}

.content li a{
	font-size: 24px;
	color: black;
	margin-left: 6px;
}
.farmer_content{
	width: 60%;
	float: left;
}
.sidebar{
	width: 25%;
	float: right;
	margin-right:20px;
	border-left:1px solid;
}

.farmer_content li,.sidebar li{
	width: 100%;
	position: relative;
	list-style: none;
	border-bottom: 1px solid;
	border-bottom-color: #000;
	padding-bottom: 3px;
	margin-top: 10px;
	float: left;
}


.farmer_content li a,.sidebar li a{
	font-size: 24px;
	color: black;
	margin-left: 6px;
}

.story_1 img,.story_2 img,.product img{
	width: 38%;
	position: relative;
	left: 10px;
}

.story_1,.story_2{
	background:#B2DAC1;
	margin-top:30px;
	padding:10px;
	width:400px;
	border-radius: 0.5em;
}
.story_1 h3,.story_2 h3,.product h3,.info h3{
	color: #52AB75;
	position: relative;
	margin: -75px 0px 0px 100px;
	width: 150px;
	height: 10px;
}
.info a{
	color:#52AB75;
	font-size:24px;
	float: left;
}
.info a :hover{
	color:#52AB75;
	text-decoration: underline;
	font-size:24px;
	float: left;
}
.info i{
	font-size:24px;
	margin: 0px 10px 0px -10px;
	color:#6E6E6E;
	float: left;
	text-align: left;
}
.info p{
	display: list;
	font-size:24px;
	margin: 10px 0px 0px 10px;
	float: left;
	bottom: 10px;
}
.remind p{
	display: list;
	float: left;
}
.remind a{
	color: #6E6E6E;
	font-size: 16px;
	float: left;
	width: 200px;
}
.remind i{
	font-size:24px;
	margin: 0px 10px 0px -10px;
	color:#6E6E6E;
	float: left;
	text-align: left;
}

.product{	
	margin-top: 5px;
	padding: 10px;
	width: 200px;
	float: left;
	position: relative;
}

.name{
	font-size: 18px;
	color: black;
	position: relative;
	margin:-140px 0px 0px 100px;
}

.story_1 p,.story_2 p,.product p{
	font-size:18px;
	color:black;
	position:relative;
	margin:0px 0px 0px 100px;
	margin-top: 10px;
}
.description{
	margin-top: 5px;
	padding: 10px;
	float: left;
	position: relative;
} 
.description p{
	margin-top: 50px;
	margin:0px 0px 0px 0px;
	float: left;
}

.story_2{
	position:relative;
	margin:-207px 0px 0px 450px;
}