body{
  /*background: url(../img/background_3.jpg) repeat;*/
  font-family: "Helvetica Neue",Arial,"HeitiTC","LiHei Pro","微軟正黑體","Microsoft Jhenghei",sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

footer{
  height: 100px;
  background: url(../img/footer.jpg) repeat;
  position: relative;
  top: 30px;
  padding-left: 60px;
  background-color: #336600;
}

footer li{
  font-size: 18px;
  display: inline;
  list-style: none;
  position: relative;
  top: 50px;
  margin-left: 10px;
  padding: 10px;
}

footer a:hover{
  color: #FF6;
}

header{
  background-color: #336600;
  height: 90px;
  padding: 0 100px 0 100px;
  margin-bottom: 20px; 
  background: url(../img/banner.png) repeat;
}

header a:hover{
  color: #FF6;
}

nav{
  display: inline-block;
  float: right;
  margin-top: 20px;
}

.logo{
  height: 80px;
  margin: 5px 0 5px 0;
  position: relative;
  float: left;
}

.main_nav{
  position: relative;
  display: inline-block;
}

.main_nav_li{
  font-size: 18px;
  display: inline-block;
  list-style: none;
  position: relative;
  margin-left: 8px;
}

.main_nav_li > a{
  padding: 3px 8px;
}

.member{
  margin-left: 12px;
  padding-left: 14px;
  border-left: 1px #fff solid;
  display: inline;
}

.member-btn{
  font-size: 18px;
  background-color: #FF6;
  color: #360;
  border-radius: 0.3em;
  border: solid 2px #FF6;
  margin-left: 8px;
}

.member-btn:hover{
  color: #FF6;
  background-color: #360;
}

.sub{
  display: none;
  left: 0;
  margin: 1px 0 0;
  overflow: hidden;
  position: absolute;
  width: 160px;
  z-index: 6666;
  border-radius: 0.3em;
  box-shadow: rgb(155,155,155) 0px 1px 3px 0px;
}

.sub ul{
  margin: 0;
  list-style: none;
  position: relative;
  border: 5px solid #fff;
  background: #fff;
  width: 150px;
  padding: 0px;
}

.sub li {
  float: none;
  margin: 0 0 1px;
}

.main_nav li:hover .sub{
  display: block;
}

.sub a{
  color: #5C5C5C;
  display: block;
  font-size: 14px;
  height: 25px;
  letter-spacing: 1px;
  overflow: hidden;
  margin: 0 0 0 10px;
  padding: 4px 0 0 10px;
  cursor: pointer;
  outline: 0;
}

.sub li:hover{
  background:#336600;
}

.sub li:hover a{
  color:white;
}

section{
  /*background-color: white;*/
  background:url(../img/background_inner.jpg);
  width: 950px;
  height: auto;
  position: relative;
  /*left:50%;*/
  top: 10px;
  margin: 0px auto;
  /*margin-left:-480px;*/
  box-shadow: rgb(155,155,155) 0px 1px 10px 0px;
  border-radius: 2em;
}

.title a{
  font-size:24px;
  color:black;
  margin-left:6px;
}

.title{
  margin-left:30px;
  border-bottom:1px solid;
  border-bottom-color: #000;
  width:890px;
}

/*.tabs{
  position: relative;
  left:50%;
  top:50%;
  margin-top:-600px;
  margin-left:-450px;
  width:900px;
  height:1250px;
}

.tab{
    float:left;
}

.tab > input[type=radio]{
  display:none;
  border:2px solid #FFF;
  border-radius:20px;
}

.tab > label{
border:2px solid rgb(120,120,120);
  border-radius:20px 20px 0 0;
    display:block;
    position:relative;
    width:147px;
    height:20px;
    margin-right:-1px;
    padding:5px 15px;
    background:rgb(120,120,120);
}

.tab > label a{
  color:black;
}

.tab > .content{
    display:none;
    position:absolute;
    top:30px;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    padding:10px;
    background:#FFF;
}

.tab > input[type=radio]:checked + label{
    background:#FFF;
  border:2px solid #FFF;
  border-radius:20px 20px 0 0;
    border-bottom:1px solid transparent;
    z-index:2;
}

.tab > input[type=radio]:checked ~ .content{
    display:block;    
}*/

.abgne_tab{
  display: inline;
}

.abgne_tab ul{
  list-style: none;
}

.tabs li{
  display: inline-block;
}

.tabs a{
  background-color: #52AB75;
  padding: 10px 60px;
  border-radius: 1em 1em 0 0; 
}

.tabs a:hover{
  background-color: #44c767;
}

.tab_container{
  display: inline-block;
  position: relative;
  margin: 0 37px;
}

.tab_content{
  position: relative;
  background-color: rgba(255,255,255,0.7);
}

.about{
/*margin-left: 15px;
  margin-top: 20px;
  margin-right: 10px;
  margin-right:0px;*/
  display: inline-block;
  position: relative;
  height: 140px;
  min-width: 31%;
  margin-right: 20px;
  background-color: rgba(155,155,155,0.2);
  border-radius: 40px;
  margin: 10px;
}

.about img{
  width: 120px;
  height: 120px;
  margin: 10px 10px 0 10px;
  position: relative;
  border-radius: 50%;
}

.img{
  float: left;
}

.info{
  display: block;
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about .name, .about .product{
  text-align: center;
  position: relative;
  color: black;
  min-width: 120px;
}

.name{
  font-size: 18px;
  margin-right: 10px;
}

.product{
  margin-top: 20px;
  font-size: 14px;
}



.search {
    position: relative;
    margin: 0 auto;
	top:10px;
    width: 80%;
}

.search input {
    margin-bottom: 30px;
    height: 40px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 12px no-repeat;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: relative;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: relative;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: relative;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }


