body{
	/*background: url(../img/background_3.jpg) repeat;*/
	font-family: "Helvetica Neue",Arial,"HeitiTC","LiHei Pro","微軟正黑體","Microsoft Jhenghei",sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
	color: white;
}

footer{
	height: 100px;
	background: url(../img/footer.jpg) repeat;
	position: relative;
	top: 30px;
	background-color: #336600;
	display: none;
}

footer li{
	font-size: 18px;
	display: inline;
	list-style: none;
	position: relative;
	top: 50px;
	margin-left: 10px;
	padding: 10px;
}

footer a:hover{
	color: #FF6;
}

header{
	background-color: #336600;
	height: 90px;
	padding: 0 100px 0 100px;
	background: url(../img/banner.png) repeat;
	margin-bottom: 30px;
}

header a:hover{
	color: #FF6;
}

nav{
	display: inline-block;
	float: right;
	margin-top: 20px;
}

.logo{
	height: 80px;
	margin: 5px 0 5px 0;
	position: relative;
	float: left;
}

.main_nav{
	position: relative;
	display: inline-block;
}

.main_nav_li{
	font-size: 18px;
	display: inline-block;
	list-style: none;
	position: relative;
	margin-left: 8px;
}

.main_nav_li > a{
	padding: 3px 8px;
}

.member{
	margin-left: 12px;
	padding-left: 14px;
	border-left: 1px #fff solid;
	display: inline;
}

.member-btn{
	font-size: 18px;
	background-color: #FF6;
	color: #360;
	border-radius: 0.3em;
	border: solid 2px #FF6;
	margin-left: 8px;
}

.member-btn:hover{
	color: #FF6;
	background-color: #360;
}

.sub{
	display: none;
	left: 0;
	margin: 1px 0 0;
	overflow: hidden;
	position: absolute;
	width: 160px;
	z-index: 6666;
	border-radius: 0.3em;
	box-shadow: rgb(155,155,155) 0px 1px 3px 0px;
}

.sub ul{
	margin: 0;
	list-style: none;
	position: relative;
	border: 5px solid #fff;
	background: #fff;
	width: 150px;
	padding: 0px;
}

.sub li {
	float: none;
	margin: 0 0 1px;
}

.main_nav li:hover .sub{
	display: block;
}

.sub a{
	color: #5C5C5C;
	display: block;
	font-size: 14px;
	height: 25px;
	letter-spacing: 1px;
	overflow: hidden;
	margin: 0 0 0 10px;
	padding: 4px 0 0 10px;
	cursor: pointer;
	outline: 0;
}

.sub li:hover{
	background:#336600;
}

.sub li:hover a{
	color:white;
}

.list-img{
	height: 50px;
	margin-right: 10px;
	margin-left: 10px;
}

section{
	/*background-color: white;*/
	width: 500px;
	position: relative;
	/*left:50%;*/
	margin: 0px auto;
	/*margin-left:-480px;*/
	box-shadow: rgb(155,155,155) 0px 1px 10px 0px;
	border-radius: 2em;
}

.content{
	display: inline-block;
	width: 500px;
	background:url(../img/background_inner.jpg);
	background-repeat: repeat-y;
	border-radius: 2em;
}

.title{
	position: relative;
	padding-bottom: .3em;
	border-bottom: 1px black solid;
	margin: 1em 30px 1.3em 30px;
	font-size: 20px;
	color: black;
	width: 430px;
}

#button{
  width: 30%;
  text-align: center;
  font-style: bold;
  color: white;
  border-radius: 40px;
  background: #52AB75;
  border-radius: 40px;
  margin-top: 38px;
}

#button:hover{
  background-color:#44c767;
}

.form{
	margin-left: 40px;
	margin-bottom: 20px;
}