body{
	/*background: url(../img/background_3.jpg) repeat;*/
	font-family: "Helvetica Neue",Arial,"HeitiTC","LiHei Pro","微軟正黑體","Microsoft Jhenghei",sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
	color: white;
}

footer{
	height: 100px;
	/*background: #3ea265;
	background: -moz-linear-gradient(left, #3ea265 13%, #52ab75 25%, #65b584 38%, #78be94 50%, #8bc7a3 62%, #b2dac1 74%, #d8ece0 88%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(13%,#3ea265), color-stop(25%,#52ab75), color-stop(38%,#65b584), color-stop(50%,#78be94), color-stop(62%,#8bc7a3), color-stop(74%,#b2dac1), color-stop(88%,#d8ece0), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(left, #3ea265 13%,#52ab75 25%,#65b584 38%,#78be94 50%,#8bc7a3 62%,#b2dac1 74%,#d8ece0 88%,#ffffff 100%); 
	background: -o-linear-gradient(left, #3ea265 13%,#52ab75 25%,#65b584 38%,#78be94 50%,#8bc7a3 62%,#b2dac1 74%,#d8ece0 88%,#ffffff 100%); 
	background: -ms-linear-gradient(left, #3ea265 13%,#52ab75 25%,#65b584 38%,#78be94 50%,#8bc7a3 62%,#b2dac1 74%,#d8ece0 88%,#ffffff 100%); 
	background: linear-gradient(to right, #3ea265 13%,#52ab75 25%,#65b584 38%,#78be94 50%,#8bc7a3 62%,#b2dac1 74%,#d8ece0 88%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea265', endColorstr='#ffffff',GradientType=1 ); */
	background: url(../img/footer.jpg) repeat;
	position: relative;
	top: 30px;
}

footer li{
	font-size: 18px;
	display: inline;
	list-style: none;
	position: relative;
	top: 50px;
	margin-left: 40px;
	padding: 10px;
}

header{
	background: #3EA265;
	height: 90px;
	padding: 0 100px 0 100px;
	background: url(../img/banner.png) repeat;
}

header a:hover{
	color: #d8ece0;
}

nav{
	display: inline-block;
	float: right;
	margin-top: 20px;
}

.logo{
	height: 80px;
	margin: 5px 0 5px 0;
	position: relative;
	float: left;
}

.main_nav{
	position: relative;
	display: inline-block;
}

.main_nav_li{
	font-size: 18px;
	display: inline-block;
	list-style: none;
	position: relative;
	margin-left: 10px;
}

.main_nav_li > a{
	padding: 10px;
}

.sub{
	display: none;
	left: 0;
	margin: 1px 0 0;
	overflow: hidden;
	position: absolute;
	width: 160px;
	z-index: 6666;
	border-radius: 0.3em;
}

.sub ul{
	margin: 0;
	list-style: none;
	position: relative;
	border: 5px solid #fff;
	background: #fff;
	width: 150px;
	padding: 0px;
}

.sub li {
	float: none;
	margin: 0 0 1px;
}

.main_nav li:hover .sub{
	display: block;
}

.sub a{
	color: #5C5C5C;
	display: block;
	font-size: 14px;
	height: 25px;
	letter-spacing: 1px;
	overflow: hidden;
	margin: 0 0 0 10px;
	padding: 4px 0 0 10px;
	cursor: pointer;
	outline: 0;
}

.sub li:hover{
	background:#3EA265;
}

.sub li:hover a{
	color:white;
}

section{
	/*background-color: white;*/
	width: 950px;
	height: auto;
	position: relative;
	/*left:50%;*/
	top: 10px;
	margin: 0px auto;
	/*margin-left:-480px;*/
	box-shadow: rgb(155,155,155) 0px 1px 10px 0px;
	border-radius: 2em;
}

.banner{
	height: 300px;
	background:url(../img/index_pic.jpg) 50% 50% no-repeat;
	margin: 1.3em 0 0 0;
	border-radius: 2em 2em 0 0;
}

.slogan{
	position: absolute;
	font-size: 36px;
	background: rgba(62,162,101,0.5);
	color: white;
	padding: 7px;
	padding-left: 50px;
	margin: 200px 0 0 0;
	float: left;
}

.content{
	display: inline-block;
	width: 950px;
	background:url(../img/background_inner.jpg);
	background-repeat: repeat-y;
	border-radius: 0 0 2em 2em;
}

.title{
	position: relative;
	padding-bottom: .3em;
	border-bottom: 1px black solid;
	margin: 1em 2em 1.3em 2em;
	font-size: 20px;
	color: black;
}

.content img{
	height: 50px;
	margin-right: 10px;
	margin-left: 10px;
}

.searchbar form{
	margin: 0 auto;
	width: 90%;
}

.story{
	display: inline-block;
	position: relative;
	height: 400px;
}

.story-list{
	position: relative;
	width: 900px;
	margin: 0px 40px;
}

.story_1 img,.story_2 img{
	height: 150px;
	width: 150px;
	position: relative;
	border-radius: 50%;
	border: 5px solid #fff;
	top: 15px;
	float: left;
}

.story_1,.story_2{
	display: inline-block;
	background: rgba(150,180,0,0.5);
	margin-right: 20px;
	padding: 10px;
	width: 400px;
	height: 200px;
	border-radius: 0.5em;
}

.story_1 h3,.story_2 h3{
	width: 210px;
	float: right;
	color: #52AB75;
	position: relative;
}


.name{
	width: 210px;
	float: right;
	font-size: 18px;
	color: black;
	position: relative;
}

.story-description{
	width: 210px;
	float: right;
	font-size: 12px;
	color: black;
	position: relative;
	margin-top: 10px;
}

.catogory{
	position: relative;
	text-align: center;
}

.cereals,.fruit,.vegetable,.animal,.diy{
	width: 170px;
	height: 170px;
	display: inline-block;
}

.cereals img,.fruit img,.vegetable img,.animal img,.diy img{
	width: 150px;
	height: 120px;
}

.cereals a,.fruit a,.vegetable a,.animal a,.diy a{
	color:black;
}

.fb-like-box{
	position: relative;
	margin: 10px 45px;
}

.story_button{
	background-color: #44c767;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 1px solid #18ab29;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	padding: 5px 11px;
	/*text-shadow:0px 1px 0px #2f6627;*/
	position: relative;
	float: right;
}
.story_button:hover {
	background-color:#5cbf2a;
}