body{
  background:url(../img/background.jpg) repeat;
  font-family: "Helvetica Neue",Arial,"HeitiTC","LiHei Pro","微軟正黑體","Microsoft Jhenghei",sans-serif;
  margin: 0px;
}

a{
  text-decoration:none;
  color:white;
}

footer{
height: 100px;
background: #3ea265;
background: -moz-linear-gradient(left, #3ea265 13%, #52ab75 25%, #65b584 38%, #78be94 50%, #8bc7a3 62%, #b2dac1 74%, #d8ece0 88%, #ffffff 100%); 
background: -webkit-gradient(linear, left top, right top, color-stop(13%,#3ea265), color-stop(25%,#52ab75), color-stop(38%,#65b584), color-stop(50%,#78be94), color-stop(62%,#8bc7a3), color-stop(74%,#b2dac1), color-stop(88%,#d8ece0), color-stop(100%,#ffffff)); 
background: -webkit-linear-gradient(left, #3ea265 13%,#52ab75 25%,#65b584 38%,#78be94 50%,#8bc7a3 62%,#b2dac1 74%,#d8ece0 88%,#ffffff 100%); 
background: -o-linear-gradient(left, #3ea265 13%,#52ab75 25%,#65b584 38%,#78be94 50%,#8bc7a3 62%,#b2dac1 74%,#d8ece0 88%,#ffffff 100%); 
background: -ms-linear-gradient(left, #3ea265 13%,#52ab75 25%,#65b584 38%,#78be94 50%,#8bc7a3 62%,#b2dac1 74%,#d8ece0 88%,#ffffff 100%); 
background: linear-gradient(to right, #3ea265 13%,#52ab75 25%,#65b584 38%,#78be94 50%,#8bc7a3 62%,#b2dac1 74%,#d8ece0 88%,#ffffff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea265', endColorstr='#ffffff',GradientType=1 ); 
position: relative;
top: 1700px;
}

footer li{
font-size:24px;
display:inline;
list-style:none;
margin-right:50px;
position:relative;
top: 50px;
left: 100px;
}

header{
  background:#3EA265;
  height : 150px;
}

.logo{
  height:150px;
  position:absolute;
}

.main_nav{
  float:right;
}

.main_nav_li{
  font-size:24px;
  display:inline;
  list-style:none;
  position:relative;
  margin-right:50px;
  top:105px;
}

.sub{
  display: none;
  height: auto;
  left: 0;
  margin: 1px 0 0;
  overflow: hidden;
  position: absolute;
  width: 210px;
  z-index: 6666;
}

.sub ul{
  margin: 0;
  list-style: none;
  position: relative;
  border: 5px solid #dcdcdc;
  background: #fff;
  width: 200px;
  padding: 15px 0;
}

.sub li {
float: none;
margin: 0 0 1px;
}

.main_nav li:hover .sub{
  display: block;
}

.sub a{
  color: #5C5C5C;
  display: block;
  font-size: 14px;
  height: 25px;
  letter-spacing: 2px;
  overflow: hidden;
  margin: 0 0 0 15px;
  padding: 4px 0 0 10px;
  cursor: pointer;
  outline: 0;
}

.sub li:hover{
  background:gray;
}

.sub li:hover a{
  color:white;
}

section{
	background:url(../img/background_inner.jpg);
	height:1500px;
	width:950px;
	position: absolute;
	left:50%;
	top:50%;
	
	margin-top:-100px;
	margin-left:-480px;
}

.title a{
	font-size:24px;
	color:black;
	margin-left:6px;
}

.title{
	margin-left:30px;
	border-bottom:1px solid;
	border-bottom-color: #000;
	width:890px;
}

.tabs{
    position: absolute;
	left:50%;
	top:50%;
	
	margin-top:-600px;
	margin-left:-450px;
    width:900px;
    height:1250px;
}

.tab{
    float:left;
}

.tab > input[type=radio]{
    display:none;
	border:2px solid #FFF;
	border-radius:20px;
}

.tab > label{
border:2px solid rgb(120,120,120);
	border-radius:20px 20px 0 0;
    display:block;
    position:relative;
    width:147px;
    height:20px;
    margin-right:-1px;
    padding:5px 15px;
    background:rgb(120,120,120);
}

.tab > label a{
	color:black;
}

.tab > .content{
    display:none;
    position:absolute;
    top:30px;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    padding:10px;
    background:#FFF;
}

.tab > input[type=radio]:checked + label{
    background:#FFF;
	border:2px solid #FFF;
	border-radius:20px 20px 0 0;
    border-bottom:1px solid transparent;
    z-index:2;
}

.tab > input[type=radio]:checked ~ .content{
    display:block;    
}

.about{
	margin-left: 15px;
	margin-top: 20px;
	margin-right: 10px;
	margin-right:0px;
	display: inline-block;
	height: 180px;
	width: 30%;
	background-color: rgba(192,192,192,0.7);
	border-radius: 40px;
}



.about img{
  width: 100px;
  margin-left: normal;
  margin-top: 50px;
  position: relative;
  left: 35px;
  border-radius: 50%;
}
.about p{
	text-align: center;
	position:relative;
	left:60px;
	top:-100px;
	color:black;
}

.name{
	font-size:24px;
}